<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="userManagementSystemUIMapping" name="User Management Systems UI mapping" schema="schema/userManagementSystemUIMapping.exsd"/>
	
	<extension point="org.eclipse.ui.editors">
    	<editor
            class="org.nightlabs.jfire.auth.ui.editor.UserManagementSystemEditor"
            icon="icons/UserManagementSystem.16x16.png"
            id="org.nightlabs.jfire.auth.ui.editor.UserManagementSystemEditor" 
            name="%org.nightlabs.jfire.auth.ui.editor.UserManagementSystemEditor.name"/>
	</extension>

	<extension point="org.nightlabs.base.ui.entityEditor">
        <category
              class="org.nightlabs.jfire.auth.ui.editor.EntityTreeCategoryUserManagementSystem"
              icon="icons/UserManagementSystem.16x16.png"
              id="org.nightlabs.jfire.auth.ui.editor.EntityTreeCategoryUserManagementSystem"
              name="%entityEditor.category.userManagementSystem">
           <viewBinding
                 editorID="org.nightlabs.jfire.auth.ui.editor.UserManagementSystemEditor"
                 viewID="org.nightlabs.jfire.base.admin.ui.editor.SysAdminEntityTreeView" indexHint="11">
           </viewBinding>
        </category>
	</extension>
	
    <extension point="org.nightlabs.base.ui.editor2perspective">
       <registry
             editorID="org.nightlabs.jfire.auth.ui.editor.UserManagementSystemEditor"
             perspectiveID="org.nightlabs.jfire.base.admin.ui.BaseAdminPerspective" />
    </extension>

    <extension point="org.eclipse.ui.actionSets">
        <actionSet id="org.nightlabs.jfire.auth.ui.actions"
            label="%org.nightlabs.jfire.auth.ui.actionSet.label" visible="true">
            <menu id="userManagementSystemMenu" 
            		label="%userManagementSystemMenu.label" 
            		path="administrationMenu/entityGroup"
            		icon="icons/UserManagementSystem.16x16.png">
                <separator name="userManagementSystemGenericGroup"/>
            </menu>
            <action
                class="org.nightlabs.jfire.auth.ui.actions.OpenImportExportWizardAction"
                icon="icons/ImportExportWizard.16x16.png"
                id="org.nightlabs.jfire.auth.ui.actions.OpenImportExportWizardAction#menu"
                label="%org.nightlabs.jfire.auth.ui.actions.openImportExportWizardAction.label.menu"
                menubarPath="administrationMenu/userManagementSystemMenu/userManagementSystemGenericGroup" tooltip="%org.nightlabs.jfire.auth.ui.actions.openImportExportWizardAction.tooltip"/>
            <action
                class="org.nightlabs.jfire.auth.ui.actions.RemoveUserManagementSystemAction"
                icon="icons/RemoveUserManagementSystem.16x16.png"
                disabledIcon="icons/RemoveUserManagementSystem-Disabled.16x16.png"
                id="org.nightlabs.jfire.auth.ui.actions.RemoveUserManagementSystemAction#menu"
                label="%org.nightlabs.jfire.auth.ui.actions.removeUserManagementSystem.label"
                enablesFor="+"
                menubarPath="administrationMenu/userManagementSystemMenu/userManagementSystemGenericGroup" tooltip="%org.nightlabs.jfire.auth.ui.actions.removeUserManagementSystem.tooltip">
               		<selection class="org.nightlabs.jfire.security.integration.UserManagementSystem"/>
            </action>
            <action
                class="org.nightlabs.jfire.auth.ui.actions.CreateUserManagementSystemAction"
                icon="icons/CreateUserManagementSystem.16x16.png"
                id="org.nightlabs.jfire.auth.ui.actions.CreateUserManagementSystemAction#menu"
                label="%org.nightlabs.jfire.auth.ui.actions.createUserManagementSystem.label.menu"
                menubarPath="administrationMenu/userManagementSystemMenu/userManagementSystemGenericGroup" tooltip="%org.nightlabs.jfire.auth.ui.actions.createUserManagementSystem.tooltip"/>
        </actionSet>
    </extension>

    <extension point="org.eclipse.ui.viewActions">
        <viewContribution
            id="org.nightlabs.jfire.auth.ui.SysAdminEntityTreeView" 
            targetID="org.nightlabs.jfire.base.admin.ui.editor.SysAdminEntityTreeView">
            <action
                class="org.nightlabs.jfire.auth.ui.actions.RemoveUserManagementSystemAction"
                icon="icons/RemoveUserManagementSystem.16x16.png"
                disabledIcon="icons/RemoveUserManagementSystem-Disabled.16x16.png"
                id="org.nightlabs.jfire.auth.ui.actions.RemoveUserManagementSystemAction"
                label="%org.nightlabs.jfire.auth.ui.actions.removeUserManagementSystem.label" style="push"
                enablesFor="+"
                toolbarPath="additions" tooltip="%org.nightlabs.jfire.auth.ui.actions.removeUserManagementSystem.tooltip">
               		<selection class="org.nightlabs.jfire.security.integration.UserManagementSystem"/>
            </action>
            <action
                class="org.nightlabs.jfire.auth.ui.actions.CreateUserManagementSystemAction"
                icon="icons/CreateUserManagementSystem.16x16.png"
                id="org.nightlabs.jfire.auth.ui.actions.CreateUserManagementSystemAction"
                label="%org.nightlabs.jfire.auth.ui.actions.createUserManagementSystem.label" style="push"
                toolbarPath="additions" tooltip="%org.nightlabs.jfire.auth.ui.actions.createUserManagementSystem.tooltip"/>
        </viewContribution>
    </extension>

    <extension point="org.eclipse.ui.newWizards">
       <wizard
             category="org.nightlabs.jfire.base.admin.ui"
             class="org.nightlabs.jfire.auth.ui.wizard.CreateUserManagementSystemWizard"
             icon="icons/CreateUserManagementSystem.16x16.png"
             id="org.nightlabs.jfire.auth.ui.wizard.CreateUserManagementSystemWizard"
             name="%org.nightlabs.jfire.auth.ui.wizard.CreateUserManagementSystemWizard.name" />
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
          <page
            class="org.nightlabs.jfire.auth.ui.preference.UserManagementSystemPreferenceCategoryPage"
            id="org.nightlabs.jfire.auth.ui.preference.UserManagementSystemPreferenceCategoryPage"
            name="%org.nightlabs.jfire.auth.ui.preference.UserManagementSystemPreferenceCategoryPage.name"/>
          <page
            class="org.nightlabs.jfire.auth.ui.preference.UserManagementSystemTypePreferencePage"
            id="org.nightlabs.jfire.auth.ui.preference.UserManagementSystemTypePreferencePage"
            name="%org.nightlabs.jfire.auth.ui.preference.UserManagementSystemTypePreferencePage.name"
            category="org.nightlabs.jfire.auth.ui.preference.UserManagementSystemPreferenceCategoryPage"/>
    </extension>

</plugin>
