<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.nightlabs.jfire.base.dashboard.ui.dashboardGadgetFactory">
      <dashboardGadgetFactory
            class="org.nightlabs.jfire.base.dashboard.clientscripts.ui.internal.DashboardGadgetClientScriptsFactory"
            dashboardGadgetType="DashboardGadgetClientScriptsFactory"
            description="This gadget can store and execute user defined scripts, written in JavaScript."
            name="Client Scripts Gadget">
      </dashboardGadgetFactory>
   </extension>
</plugin>
